<!DOCTYPE html>
<html class="h-100 w-100 overflow-hidden">
  <head>
    <title>Video Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"> -->
    
    <!-- <link rel="icon" type="image/png" href="favicon.ico"> -->
    
    <!-- <script src="jquery-3.5.1.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/style.css">
    
  </head>

  <!-- server side info -->
  <label class="d-none" id="room-id-label"><%= id %></label>
  <label class="d-none" id="user-id-label"><%= machine_id %></label>

  <!-- main -->
  <body class="w-100 h-100 overflow-hidden" style="background-color: rgb(25, 25, 25);">

    <!-- loading spinner -->
    <div id="loading-div" class="row align-items-center h-100 w-100" style="background-color: rgb(60, 60, 60); z-index: 1;">
        <div class="col-12 text-center">
            <div class="spinner-border text-light"></div>
        </div>
    </div>

    <!-- share background -->
    <div id="share-cancel-div" class="w-100 h-100 position-absolute invisible" style="z-index: 1; opacity: 0.3; background-color: black;"></div>

    <!-- share pop up -->
    <div id="share-div" class="w-100 position-absolute invisible" style="text-align: center; top: 20%; z-index: 1; pointer-events: none;">
        <div id="share-actual-div" class="d-inline-block p-0 text-left rounded" style="width: 350px; pointer-events: auto;">
            
            <!-- link instructions -->
            <div class="w-100 p-0 pt-2 pl-2 m-0 text-center">
                <label class="unselectable text-center d-inline-block pl-1 pr-1 m-0 small rounded font-weight-bold" style="background-color: rgb(60, 60, 60); color: rgb(150, 150, 150);">Share this link:</label>
            </div>

            <!-- video link -->
            
            <div class="w-100 d-inline-block rounded-0 font-weight-normal p-2">
                <input type="text" id="link-display" class="form-control w-100 font-italic text-truncate pt-1 pb-2 pl-2 pr-2 mb-2" value="" readonly>
                <button class="btn w-100 h-100 rounded" id="copy-link-button">Copy Link</button>
            </div>

            <!-- control checkbox -->
            <div id="checkbox-div" class="checkbox pl-2 rounded">
                <label id="checkbox-label" class="unselectable" style="color:rgb(200, 200, 200); margin-left: 1px;"><input type="checkbox" id="checkbox" class="position-relative" style="top: 1px;" value="">&ensp;Only I have control</label>
            </div>

        </div>
    </div>

    <!-- left side -->
    <div id="left-side" style="height: 100vh; max-width: calc(100% - 204px); min-width: 200px;">
        <div class="w-100 h-100 text-center" style="display: flex; flex-direction: column;">

            <!-- video player -->
            <div class="d-inline-block pt-2 pl-2 pr-2">
                <div class="embed-responsive embed-responsive-16by9 rounded" style="flex-shrink: 1; background-color: black; border: 2px solid rgb(180, 180, 180);">

                    <!-- video buffering -->
                    <div id="is-buffering-name-div" class="p-0 m-0 float-left position-absolute invisible w-100" style="pointer-events: none; top: calc(25% - 5px); z-index: 1;">
                        <label id="is-buffering-name-label" class="unselectable text-center d-inline-block pl-1 pr-1 small rounded font-weight-bold" style="background-color: rgb(60, 60, 60); color: rgb(150, 150, 150);"></label>
                    </div>

                    <!-- actual player -->
                    <div id="player"></div>
                </div>
            </div>

            <!-- video link -->
            <div class="w-100 d-inline-block rounded-0 font-weight-normal pl-2 pr-2 pt-2">
                <input type="text" class="form-control d-inline-block rounded text-truncate" id="link-input" placeholder="Video Link" style="background-color: rgb(40, 40, 40); color: rgb(235, 235, 235);"/>
            </div>
            <div class="w-100 d-inline-block rounded-0 font-weight-normal p-2">
                <button class="btn w-100 h-100 rounded" id="submit-link-button">Add Video</button>
            </div>

            <!-- video queue -->
            <div class="d-none ml-2" id="videos-div" style="flex-grow: 1; overflow-x: hidden; overflow-y: auto; width: calc(100% - 16px);">
                <div style="height: 0px;">
                    <ul class="list-group" id="videos"></ul>
                </div>
            </div>

            <!-- empty video queue -->
            <div class="w-100" id="no-videos-div" style="flex-grow: 1;">
                <label id="no-videos" class="unselectable text-center d-inline-block pl-1 pr-1 mt-3 mb-3 small rounded font-weight-bold">No videos in queue</label>
            </div>

            <!-- next video -->
            <div class="w-100 d-inline-block rounded-0 position-relative font-weight-normal p-2" style="left: 0px; bottom: 0px;">
                <button class="btn w-100 h-100 rounded invisible" id="next-video-button">Play Next</button>
            </div>

        </div>
    </div>

    <!-- right side -->
    <div id="right-side" style="height: 100vh; max-width: calc(100% - 204px); min-width: 200px;">
        <div class="w-100 text-center">
            <div class="w-100 position-relative" style="height: 100vh; background-color: rgb(25, 25, 25);">

                <!-- <div class="w-100 d-inline-block rounded-0 font-weight-normal p-2"> -->

                    <!-- <div class="d-inline-block float-left p-0" style="width: 75%;">
                        <input type="text" class="w-100 form-control d-block rounded position-relative invisible text-truncate" id="sender-name-input" placeholder="Display Name" style="bottom: 0px;"/>
                    </div>
                    <div class="d-inline-block float-right pt-0 pb-0 pr-0 pl-2" style="width: 25%;">
                        <button class="btn w-100 d-block rounded font-weight-normal" id="share-button">?</button>
                    </div> -->

                    <div class="d-inline-block float-left p-2 w-100">
                        <input type="text" class="form-control d-inline-block rounded invisible text-truncate float-left" id="sender-name-input" placeholder="Display Name" style="bottom: 0px; width: calc(100% - 46px);"/>
                        <button class="btn d-inline-block rounded font-weight-normal m-0 float-right" id="share-button" style="width: 38px;">?</button>
                    </div>

                    <!-- <button class="btn d-inline-block rounded-0 font-weight-normal float-left" id="share-button" style="width: calc(100% - 38px);">Share</button> -->
                    
                <!-- </div> -->





                <!-- display name -->
                <!-- <div class="w-100 d-inline-block rounded-0 font-weight-normal pl-2 pr-2 pb-2">
                    <input type="text" class="form-control w-100 d-block rounded position-relative invisible" id="sender-name-input" placeholder="Display Name" style="bottom: 0px;"/>
                </div> -->

                <!-- all messages 56 62 60 -->
                <div class="ml-2 pt-0 pb-0 rounded" id="messages-div" style="height: calc(100% - 54px - 55px); overflow-x: hidden; overflow-y: auto; background-color: rgb(35, 35, 35); width: calc(100% - 16px);">
                    <div id="messages"></div>
                </div>

                <!-- is typing -->
                <div id="is-typing-name-div" class="pl-2 pr-2 m-0 float-left position-absolute invisible" style="bottom: 55px; height: 25px; line-height: 25px; width: 100%;">
                    <label id="is-typing-name-label" class="text-left d-inline-block float-left pl-2 pr-2 small w-100 h-100 m-0"></label>
                </div>

                
                <!-- message input -->
                <!-- <div class="position-relative" style="bottom: 0px; height: 38px; width: 100%;">
                    <input type="text" class="form-control d-inline-block float-left rounded-0 w-100 invisible" id="message-input" placeholder="Message" autocomplete="off"/>
                </div> -->

                <div class="position-relative" style="bottom: 0px; height: 55px; width: 100%;">
                    <div class="d-inline-block float-left rounded-0 w-100 p-2">
                        <input type="text" class="form-control d-inline-block rounded text-truncate invisible" id="message-input" placeholder="Message" autocomplete="off"/>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

        // <!-- share & help -->
        // <div>
        //     <div class="w-100 d-inline-block rounded-0 font-weight-normal float-left p-2">
        //         <button class="btn w-100 h-100 rounded" id="share-button">Share</button>
        //     </div>
        //     <!-- <button class="btn d-inline-block rounded-0 font-weight-normal float-left" id="share-button" style="width: calc(100% - 38px);">Share</button> -->
        //     <!-- <button class="btn d-inline-block rounded-0 font-weight-normal" id="help-button" style="width: 38px;">?</button> -->
        // </div>

    </script>
    
    <!-- <link href="/main.html" rel="import"/> -->

    <script async defer type="text/javascript" src="/split/web-font.js"></script>
    <script type="text/javascript" src="/split/split.min.js"></script>

    <script type="text/javascript" src="/global-vars.js"></script>
    <script type="text/javascript" src="/split/setup-split.js"></script>
    <script type="text/javascript" src="/player/setup-player.js"></script>

    <script type="text/javascript" src="/functions/helper-funcs.js"></script>
    <script type="text/javascript" src="/functions/message-funcs.js"></script>
    <script type="text/javascript" src="/functions/sender-name-funcs.js"></script>
    <script type="text/javascript" src="/functions/player-funcs.js"></script>
    <script type="text/javascript" src="/functions/video-queue-funcs.js"></script>
    <script type="text/javascript" src="/functions/share-funcs.js"></script>
    <script type="text/javascript" src="/functions/buffering-funcs.js"></script>
    <script type="text/javascript" src="/functions/typing-funcs.js"></script>

    <script type="text/javascript" src="/player/player-handlers.js"></script>
    <script type="text/javascript" src="/sockets/socket-emits.js"></script>

    <script type="text/javascript" src="/jquery/button-handling.js"></script>
    <script type="text/javascript" src="/jquery/input-handling.js"></script>
    <script type="text/javascript" src="/jquery/div-handling.js"></script>

    <script type="text/javascript" src="/sockets/socket-listeners.js"></script>

    <script>

        const inputs = document.querySelectorAll('input');

        inputs.forEach(input => {
            input.setAttribute('autocomplete', 'off')
            input.setAttribute('autocorrect', 'off')
            input.setAttribute('autocapitalize', 'off')
            input.setAttribute('spellcheck', false)
        })

    </script>

  </body>
</html>

