<!DOCTYPE html>
<html class="h-100 w-100 overflow-hidden">
  <head>
    <title>Video Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"> -->
    
    <!-- <link rel="icon" type="image/png" href="favicon.ico"> -->
    
    <!-- <script src="jquery-3.5.1.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/style.css">
    
  </head>

  <!-- server side info -->
  <label class="d-none" id="room-id-label"><%= id %></label>
  <label class="d-none" id="user-id-label"><%= machine_id %></label>

  <!-- main -->
  <body class="w-100 h-100 overflow-hidden" style="background-color: rgb(30, 30, 30);">

    <!-- loading spinner -->
    <div id="loading-div" class="row align-items-center h-100 w-100" style="background-color: rgb(60, 60, 60); z-index: 1;">
        <div class="col-12 text-center">
            <div class="spinner-border text-light"></div>
        </div>
    </div>

    <!-- share background -->
    <div id="share-cancel-div" class="w-100 h-100 position-absolute invisible" style="z-index: 1; opacity: 0.2; background-color: black;"></div>

    <!-- share pop up -->
    <div id="share-div" class="w-100 position-absolute invisible" style="text-align: center; top: 20%; z-index: 1; pointer-events: none;">
        <div id="share-actual-div" class="d-inline-block p-0 text-left rounded" style="width: 350px; pointer-events: auto;">
            
            <!-- link instructions -->
            <div class="w-100 p-0 pt-2 pl-2 m-0 text-center">
                <label class="unselectable text-center d-inline-block pl-1 pr-1 m-0 small rounded font-weight-bold" style="background-color: rgb(60, 60, 60); color: rgb(150, 150, 150);">Share this link:</label>
            </div>

            <!-- video link -->
            <input type="text" id="link-display" class="form-control w-100 font-italic text-truncate pt-1 pb-2 pl-2 pr-2 m-0" value="" readonly>
            <button class="btn w-100 d-inline-block rounded-0 font-weight-normal" id="copy-link-button">Copy Link</button>

            <!-- control checkbox -->
            <div id="checkbox-div" class="checkbox pt-2 pl-2 rounded">
                <label id="checkbox-label" class="unselectable" style="color:rgb(200, 200, 200); margin-left: 1px;"><input type="checkbox" id="checkbox" class="position-relative" style="top: 1px;" value="">&ensp;Only I have control</label>
            </div>

        </div>
    </div>

    <!-- left side -->
    <div id="left-side" style="height: 100vh; max-width: calc(100% - 204px); min-width: 200px;">
        <div class="w-100 h-100 text-center" style="display: flex; flex-direction: column;">

            <!-- video player -->
            <div class="embed-responsive embed-responsive-16by9" style="flex-shrink: 1; background-color: black;">

                <!-- video buffering -->
                <div id="is-buffering-name-div" class="p-0 m-0 float-left position-absolute invisible w-100" style="pointer-events: none; top: calc(25% - 5px); z-index: 1;">
                    <label id="is-buffering-name-label" class="unselectable text-center d-inline-block pl-1 pr-1 small rounded font-weight-bold" style="background-color: rgb(60, 60, 60); color: rgb(150, 150, 150);"></label>
                </div>

                <!-- actual player -->
                <div id="player"></div>
            </div>

            <!-- video link -->
            <input type="text" class="form-control d-inline-block rounded-0 w-100" id="link-input" placeholder="Video Link" style="background-color: rgb(40, 40, 40); color: rgb(235, 235, 235);"/>
            <button class="btn w-100 d-inline-block rounded-0 font-weight-normal" id="submit-link-button">Add Video</button>

            <!-- video queue -->
            <div class="w-100 d-none" id="videos-div" style="flex-grow: 1; overflow-x: hidden; overflow-y: auto;">
                <div style="height: 0px;">
                    <ul class="list-group list-group-flush" id="videos"></ul>
                </div>
            </div>

            <!-- empty video queue -->
            <div class="w-100" id="no-videos-div" style="flex-grow: 1;">
                <label id="no-videos" class="unselectable text-center d-inline-block pl-1 pr-1 mt-3 mb-3 small rounded font-weight-bold">No videos in queue</label>
            </div>

            <!-- next video & display name -->
            <button class="btn w-100 d-inline-block rounded-0 position-relative font-weight-normal invisible" id="next-video-button" style="left: 0px; bottom: 0px;">Play Next</button>
            <input type="text" class="form-control w-100 d-block rounded-0 position-relative invisible" id="sender-name-input" placeholder="Display Name" style="bottom: 0px;"/>

        </div>
    </div>

    <!-- right side -->
    <div id="right-side" style="height: 100vh; max-width: calc(100% - 204px); min-width: 200px;">
        <div class="w-100 text-center">
            <div class="w-100" style="height: 100vh; background-color: rgb(25, 25, 25);">

                <!-- share & help button -->
                <div>
                    <button class="btn w-100 d-inline-block rounded-0 font-weight-normal float-left" id="share-button">Share</button>
                    <!-- <button class="btn d-inline-block rounded-0 font-weight-normal float-left" id="share-button" style="width: calc(100% - 38px);">Share</button> -->
                    <!-- <button class="btn d-inline-block rounded-0 font-weight-normal" id="help-button" style="width: 38px;">?</button> -->
                </div>

                <!-- all messages -->
                <div class="w-100 pt-1 pb-1" id="messages-div" style="height: calc(100% - 38px - 38px); overflow-x: hidden; overflow-y: auto;">
                    <div id="messages"></div>
                </div>

                <!-- is typing -->
                <div id="is-typing-name-div" class="p-0 m-0 w-100 float-left position-absolute invisible" style="bottom: 38px; height: 25px; line-height: 25px;">
                    <label id="is-typing-name-label" class="text-left d-inline-block float-left pl-2 pr-2 small w-100 h-100 m-0" style="word-break: break-all; background-color: rgb(40, 40, 40); color: rgb(190, 190, 190);"></label>
                </div>
                
                <!-- message input -->
                <div class="position-relative" style="bottom: 0px; height: 38px; width: 100%;">
                    <input type="text" class="form-control d-inline-block float-left rounded-0 w-100 invisible" id="message-input" placeholder="Message" autocomplete="off"/>
                </div>

            </div>
        </div>
    </div>
    
    <link href="/main.html" rel="import"/>

    <script async defer type="text/javascript" src="/split/web-font.js"></script>
    <script type="text/javascript" src="/split/split.min.js"></script>

    <script type="text/javascript" src="/global-vars.js"></script>
    <script type="text/javascript" src="/split/setup-split.js"></script>
    <script type="text/javascript" src="/player/setup-player.js"></script>

    <script type="text/javascript" src="/functions/helper-funcs.js"></script>
    <script type="text/javascript" src="/functions/message-funcs.js"></script>
    <script type="text/javascript" src="/functions/sender-name-funcs.js"></script>
    <script type="text/javascript" src="/functions/player-funcs.js"></script>
    <script type="text/javascript" src="/functions/video-queue-funcs.js"></script>
    <script type="text/javascript" src="/functions/share-funcs.js"></script>
    <script type="text/javascript" src="/functions/buffering-funcs.js"></script>
    <script type="text/javascript" src="/functions/typing-funcs.js"></script>

    <script type="text/javascript" src="/player/player-handlers.js"></script>
    <script type="text/javascript" src="/sockets/socket-emits.js"></script>

    <script type="text/javascript" src="/jquery/button-handling.js"></script>
    <script type="text/javascript" src="/jquery/input-handling.js"></script>
    <script type="text/javascript" src="/jquery/div-handling.js"></script>

    <script type="text/javascript" src="/sockets/socket-listeners.js"></script>

  </body>
</html>

